#app { 
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px;

    display: flex;
    flex-direction: row;
    align-items: flex-start;

    aside { 
        width: 320px;
        background: #fff;
        box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.02);
        border-radius: 2px;
        padding: 30px 20px;

        strong { 
            font-size: 20px;
            text-align: center;
            display: block;
            color: #333;
        }

        form { 
            margin-top: 30px;

            .input-block {
                font-size: 14px;

                label {
                    color: #acacac;
                    font-weight: bold;
                    display: block;
                }

                input { 
                    width: 100%;
                    height: 32px;
                    color: #666;
                    border: 0;
                    border-bottom: 1px solid #eee;

                    &:disabled { 
                        opacity: 0.75;
                        cursor: not-allowed;
                    }
                }
            }

            .input-block + .input-block {
                margin-top: 20px;
            }

            .input-group { 
                margin-top: 20px;
                display: grid;
                gap: 20px;
                grid-template-columns: 1fr 1fr;

                .input-block {
                    margin-top: 0;
                }
            }

            button[type="submit"] { 
                transition: background 0.15s;

                width: 100%;
                border: 0;
                margin-top: 30px;
                background: #7d40e7;
                border-radius: 2px;
                padding: 15px 20px; 
                
                font-size: 16px;
                font-weight: bold;
                color: #fff;

                cursor: pointer;
            }

            button[type="submit"]:hover {
                transition: background 0.15s;

                background: #6931ca;
            } 

            button[type="button"] { 
                transition: background 0.15s;
                display: block;
                margin: 10px auto 0;

                border: 0;
                background: transparent;
                
                font-size: 12px;
                font-weight: bold;
                color:#7d40e7;

                cursor: pointer;

                &.geolocation {
                    margin: 10px 0 0;   
                }
            }

            button[type="button"]:hover {
                transition: color 0.15s;

                color: #5a2ea6;
            } 
        }
    }

    main {
        flex: 1;
        margin-left: 30px;
     
        ul { 
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 20px;
            list-style: none;
        }

        .no-devs {
            display: flex;;
            justify-content: center;

            strong {
                    margin-top: 5px;
                    font-weight: bold;
                    color:#7d40e7;
                    font-size: 24px;

                    animation: textAnimation 0.9s infinite alternate linear;
                }
        }
    }
    
}

.toast {
    display: flex;
    padding:  5px;
    align-items: center;
    justify-content: center;
    gap: 10px; 

    button {
        background: #835afd;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px;
    }

    button:hover {
        cursor: pointer;
    }
        
    span { 
        font-size: 12px;
    }
}

@media (max-width: 1000px) { 
    #app { 
        flex-direction: column;

        main { 
            margin-left: 0px;
            margin-top: 30px;
        }

        aside { 
            width: 100%
        }
    }
}

@media (max-width: 650px) { 
    #app main ul { 
        grid-template-columns: 1fr;
    }
}

@keyframes textAnimation {
    0% { opacity: 0.6; }
    50% { opacity: 0.75; }
    100% { opacity: 1; }
}